<ion-list>
  <ion-list-header>
    Fish
  </ion-list-header>
  <ion-item *ngFor="let fish of fishes">
    <ion-label>
      <h5>
        {{fish.name}} <ion-icon name="fish"></ion-icon>
      </h5>
      <p>
        {{fish.price}}€
      </p>
    </ion-label>
    <ion-button clear [routerLink]="['/edit-fish/', fish.id]">
      <ion-icon name="create"></ion-icon>
    </ion-button>
    <ion-button clear (click)="deleteFish(fish.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
</ion-item>
</ion-list>

<ion-button clear [routerLink]="['/create-fish/']">
  Add new Fish
</ion-button>
