<h1>Update Fish</h1>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input formControlName="name" type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input formControlName="price" type="text" required>
    </ion-input>
  </ion-item>
  <ion-button type="submit" expand="block" color="success">Update</ion-button>
</form>