h1 {
    margin-top: 25%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

form {
    margin-bottom: 70%;
    width: 75%;
    margin-left: 12%;
}
